div.sheet-container {
  margin: 10px 0px;
  position: relative;
}

div.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.toolbar {
  background-color: white;
  bottom: 15px;
  position: fixed;
}
