table {
  border: 1px solid #887e8e;
  border-collapse: collapse;
  border-radius: 5px;
  color: #887e8e;
  width: 100%;
}

thead {
  background-color: #f4f1fb;
}

tr {
  border-bottom: 1px solid #887e8e;
}

th, td {
  padding: 5px;
}

th {
  text-align: left;
}
