div.run-submit {
  background-color: rgb(0, 43, 54);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: rgb(208, 237, 247);
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  width: 10%;
}
